$background-color: #f0f0f0;
$font-family: Arial, sans-serif;
$navbar-bg-color: #333;
$navbar-font-color: #fff;
$navbar-hover-color: #00ff75;
$button-bg-color: #00ff75;
$button-hover-color: #3700ff;
$card-gradient-start: #003366;
$card-gradient-end: #0066cc;
$add-to-cart-bg-color: #00AC7C;
$title-font-color: #000;
$price-font-color: #000;
$image-bg-color: rgb(241, 241, 241);
